# Auto detect text files and perform LF normalization
* text=auto

# Explicit text files
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.json text eol=lf

# Binary files
*.exe binary
*.jpg binary
*.png binary
